:root{ 
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
}
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 , h3 , p { 
    margin: 0;
}

body { 
    font-family: 'Karla', sans-serif;
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: #e6eff6;
    color: white;
}
p{ 
    line-height: 1.5;
}
.wrapper{ 
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}
.container{ 
    padding: 2rem 2.5rem;
}
.join{ 
    grid-column: 1/-1;
}
.section-heading{ 
    color: var(--cyan);
    margin-bottom: 1rem;
}
.subheading{ 
    color: white;
}
.join p:not(.details){ 
    color: var(--bright-yellow);
    margin-bottom: 0.8rem;
    font-weight: 700;
}
.join .details{ 
    color: var(--grayish-blue);
}
.subscription{ 
    background-color: var(--cyan);
}
.subscription .container div { 
    display: flex;
    align-items: center;
    gap: 0.6em;
    margin-bottom: 0.5rem;
}
.subscription .price{ 
    font-size: 2em;
    font-weight: 700;
}
.subscription .price + .details { 
    color: rgba(255,255,255,0.5);
}
.btn{ 
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    background-color: var(--bright-yellow);
    color: white;
    padding: 1rem 2rem;
    margin-top: 1.7rem;
    border-radius: 6px;
    font-size: 1.3em;
    font-weight: 700;
    transition: background 0.3s;
}
.btn:hover{ 
    background-color:hsl(71, 73%, 44%) ;
}
.why-us{ 
    background-color: hsl(179, 62%, 47%);
}
.why-us ul { 
    list-style: none;
    line-height: 1.6;
    font-size: 0.9em;
    color: var(--light-gray);
    padding-right: 2rem;
}
@media(max-width:680px){ 
    .wrapper{ 
        grid-template-columns: 1fr;
        max-width: 85%;
        margin: 1.5rem auto;
    }
}